@blue:#0057f0;
@red:#f00067;
@violet:#de00ff;
@cyan:#00fff4;
* {
    border: 0;
    padding: 0;
}
html, body {
    min-height: 100%;
}
body {
    font-size: 1em;
  animation: bgc 125s normal linear infinite forwards;
    overflow: hidden;
}
.container {
  position:absolute;
    margin: 0;
    width: 100%;
    height: 100%;
      top:0;
    right: 0;
    bottom: 0;
    left: 0;
      background-image: radial-gradient(50% 50%, ellipse, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
  z-index: 250;


.wrapper {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
    width: 150px;
    height: 150px;
div {
   -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
    transform-style: preserve-3d; 
    height: 100%;
    width: 100%;
     border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid;
    animation: spin 125s alternate linear infinite both, shape 20s alternate linear infinite forwards, color 25s alternate ease infinite forwards;
    margin: 100px;
    box-shadow: 1px -1px 1px 0px fade(@blue, 60%), -1px 1px 1px 0px fade(@red, 60%), -1px -1px 1px 0px fade(@violet, 60%), 1px 1px 1px 0px fade(@cyan, 60%);
}}}

@keyframes bgc {
    0% {
        background:  darken(@blue, 38);
    }
    25% {
        background: darken(@red, 40);    }
    50% {
        background:  darken(@cyan, 46);    }
    75% {
        background:  darken(@violet, 40);    }
    100% {
        background:  darken(@blue, 38);    }
}
@keyframes spin {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(315deg);
    }
}
@keyframes shape {
    to {
        border-radius: 0%;
    }
}
@keyframes color {
    0% {
        border-color: fade(@blue, 20%);
    }
    25% {
        border-color: fade(@red, 50%);
    }
    50% {
        border-color: fade(@cyan, 50%);
    }
    75% {
        border-color: fade(@violet, 50%);
    }
    100% {
        border-color: fade(@blue, 50%);
    }
}
